@import '../../../styles/colors.scss';

.nav {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: .1rem solid black;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 2rem;
    list-style-type: none;
    text-decoration: none;
}

.nav__listItem {
    margin-left: 1rem;
}

.nav__logOut {
    background: $blue;
    color: $white;
    border: .1rem solid $blue;
    box-shadow: none;
    
    padding: .25rem .5rem;
    cursor: pointer;
    font-weight: bold;
    transition: .3s background-color,  .3s color;
}

.nav__logOut:hover {
    background: none;
    color: $black;
}